<div class="row-fluid">
    <!-- FILES -->
    <div class="span8">
        <h2 editable="filestop.name" editable-change="updateFilestop()"></h2>
        <div class="alert">Share files by sending URL: <a href="{{filestop.url}}">{{filestop.url}}</a></div>
        <p textable="filestop.description" textable-change="updateFilestop()"></p>
        <p><button type="button" class="btn btn-primary" ng-click="downloadAll()" ng-disabled="files.length == 0">Download All</button></p>
        <p>Your Filestop has {{files.length}} files with {{getTotalFileSize() | prettySize}} in total.</p>
        <table class="table .table-condensed">
            <thead>
            <tr>
                <th><input ng-click="selectAll()" ng-model="allSelected" type="checkbox" ng-disabled="files.length == 0"/></th>
                <th>filename</th>
                <th>size</th>
                <th>options</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in files">
                <td><input ng-model="file.selected" ng-click="checkSelected()" type="checkbox"/></td>
                <td><a ng-href="filestop/{{cid}}/files/{{file.cid}}" title="{{file.filename}}">{{file.filename | filenameLimit}}</a></td>
                <td>{{file.size | prettySize}}</td>
                <td>
                    <button class="btn btn-link" ng-click="removeFile(file.cid)">
                        <i class="icon-remove"></i>
                    </button>
                </td>
            </tr>
            <tr ng-repeat="file in uploadFiles">
                <td></td>
                <td>{{file.name | filenameLimit}} <i>{{file.status | uploadStatus}}</i></td>
                <td>{{file.percent}}% of {{file.size | prettySize}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <p><button type="button" class="btn btn-success" ng-click="downloadSelected()" ng-disabled="disableDownloadButton()">Download selected</button>
        <button type="button" class="btn btn-primary" ng-click="downloadAll()" ng-disabled="files.length == 0">Download All</button></p>
    </div>

    <!-- INFO and DROPZONE -->
    <div class="span4">
        <div class="row-fluid">
            <div class="well">
                <h2>Add Files</h2>
                <p ng-class="getDropZoneClass()">Drag and drop your files into this window here, to upload files!</p>
                <p>Use the button to open file dialog</p>
                <a class="btn" id="pickfiles">Upload Files</a>
            </div>
        </div>
        <div class="row-fluid">
            <div >
                <p>Created on: {{filestop.created | date:'d. MMM y'}}</p>
                <p ng-style="expireStyle()" ng-show="!filestop.keep">Expires on: {{expireDate('d. MMM y')}}</p>
                <p>Last update: {{filestop.updated | prettyDate}}</p>
                <p><a class="btn" ng-click="openDialog()">Settings</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12"><p><a href="#/">Back</a> to create new filestop. <a href="https://github.com/xemle/filestop">Source</a> available at GitHub</p></div>
</div>