<div class="hero-unit">
    <h1>FileStop</h1>

    <p>Ever wondered how to easily share large files with your peers? FileStop is the solution for these problems.
        Start
        a new FileStop, drag and drop your files and then just share the URL with your friends.</p>

    <p>
        <button ng-click="newFilestop()" class="btn btn-primary btn-large">Start a new FileStop &raquo;</button>
    </p>
</div>

<div class="row-fluid">
    <div class="span5">
        <h2>FileStops</h2>

        <table class="table .table-condensed">
        <thead>
        <tr>
            <th>name</th>
            <th>created on</th>
            <th>options</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="filestop in filestops">
            <td><a href="/#/filestop/{{filestop._id}}">{{filestop.name}}</a></td>
            <td>{{filestop.created | date:'MMM d, y hh:mm:ss'}}</td>
            <td>
                <button class="btn btn-link" ng-click="removeFilestop(filestop._id)">
                    <i class="icon-remove"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    </div>
    <div class="span5">
        <h2>Files</h2>
        <table class="table .table-condensed">
            <thead>
            <tr>
                <th>filename</th>
                <th>size</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in files">
                <td>{{file.filename}}</a></td>
                <td>{{file.size}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
