<span ng-show="!loggedin"><a href="#/login">Login</a> | <a href="#/signup">Sign up</a></span><span ng-show="loggedin"><a href="#" ng-click="logout()">Logout</a></span>
<div class="hero-unit">
    <h1>FileStop</h1>

    <p>Ever wondered how to easily share large files with your peers? FileStop is the solution for these problems.
        Start
        a new FileStop, drag and drop your files and then just share the URL with your friends.</p>

    <p>
        <button ng-click="newFilestop()" class="btn btn-primary btn-large">Start a new FileStop &raquo;</button>
    </p>
</div>